.ContenedorTienda{
    position: relative;
    margin-top: 60px;
}
.TitulosTienda{
    text-align: center;
}
.Card{
    position: relative;
    border: 1px solid #0BA1D8;
    .Contador{
        position: absolute;
        bottom: 5px;
        width: 100%;
        .Cantidad{
            margin-left: calc(50% - 78px);
        }
        .BtnAñadir{
            margin-left: calc(50% - 99px);
        }
        .BtnCarrito{
            color: #ffffff;
            text-decoration: none;
        }
    }
    .VerMas{
        position: absolute;
        bottom: 5px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
.MenuCategorias{
    margin-top: 18px;
    color: #0BA1D8;
    @media only screen and (max-width: 900px){
        margin: 8px;
        color: #000000;
        &hover{
            color: #0BA1D8;
        }
    }
    .Menu{
        margin-left: 18px;
    }
}
.MuiMenu-list{
    width: 200px !important ;
}
.BtmVerMas{
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}
.CardDetalle{
    .Precio{
        text-align: center;
    }
    .Detalle{
        text-align: center;
    }
    .TituloPro{
        text-align: center;
        margin-bottom: 1rem;
    }
    .imgProductos{
        max-height: 300px;
        margin-left: calc(50% - 142px);
        margin-bottom: 1rem;
    }
    .Inicia{
        text-align: center;
    }
    .Cantidad{
        margin-left: calc(50% - 68.5px);
    }
    .Comprar{
        margin-left: calc(50% - 89px);
        margin-bottom: 10px;
    }
    .btnFinales{
        margin-left: calc(50% - 183px);
        @media only screen and (max-width: 419px){
            margin-left: 0;
        }
        .TerminaCompra{
            margin-left: 5px;
            @media only screen and (max-width: 419px){
                margin-left: calc(50% - 88px);
            }
        }
        .SeguirCompra{
            margin-right: 5px;
            @media only screen and (max-width: 419px){
                margin-left: calc(50% - 94px);
            }
        }
    }
    .BtnCarrito{
        color: #ffffff;
        text-decoration: none;
        &:hover{
            color: #ffffff;
        }
    }
}