.ContenedorTienda{
    position: relative;
    margin-top: 60px;
    @media only screen and (max-width: 549px){
        margin-top: 100px;
    }
}
.Card{
    position: relative;
    border: 1px solid #1976d2;
    .Contador{
        position: absolute;
        bottom: 5px;
        width: 100%;
        .Cantidad{
            margin-left: calc(50% - 78px);
        }
        .BtnAñadir{
            margin-left: calc(50% - 99px);
        }
        .BtnCarrito{
            color: #ffffff;
            text-decoration: none;
        }
    }
}
.MenuCategorias{
    color: #ffffff;
    background-image: url(./img/fondo-nav.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 59px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 549px){
        display: block;
    }
    .flex{
        display: flex;
        justify-content: center;
        .Menu{
            margin: 5px;
        }
    }
}

