.img-car{
    min-height: 200px;
    max-height: 500px;
    width: 75%;
    margin-left: 12.5%;
    @media only screen and (max-width: 420px){
        width: 100%;
        margin-left: 0%;
    }
}
.Titulo{
    text-align: center;
    margin: 20px;
}
.Parrafo{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
