.Nav-Bar{
    background-image: url(./img/fondo-nav.jpg);
    background-size: cover;
    height: 59.5px;
    color: black !important;
}
.Links{
    text-decoration: none;
    color: #000000;
}
.Logo{
    margin-top: 59.5px;
    height: 100px;
    width: 300px;
    margin-left: calc(50% - 150px);
}