$col-1: #ffffff;
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    text-align: center;
    color: #0BA1D8;
    .cont-list-redes{
        margin-left: -32px;
        .list-redes{
            display: inline-block;
            margin-bottom: 5px;
            .redes{
                color: #0BA1D8;
                &:hover{
                    color: $col-1;
                }
            }
        }
    }
    .derechos{
        margin-top: -24px;
        margin-bottom: -8px;
    }
    .derechos1{
        text-decoration: none;
        color: #0BA1D8;
        &:hover{
            color: $col-1;
        }
    }
    .derechos2{
        margin-top: -8px;
        margin-bottom: 0px;
    }
}