$col-1: #3fa1d9;
$col-2: #6e72e6;
.form-control{
    border: none;
    border-bottom: 1px solid #6e72e6;
    resize: none;
    margin-top: 10px;
}
.enviar-contacto{
    margin-left: calc(50% - 65px);
    margin-top: 30px;
}
.seguinos{
    text-align: center;
}
.redes{
    text-align: center;
}
.redes1{
    text-decoration: none;
    margin: 0 8px;
    color: #000000;
}
.correo{
    text-decoration: none;
    color: #000000;
}
.telefono{
    text-decoration: none;
    color: #000000;
}
.direccion{
    text-decoration: none;
    color: #000000;
}